
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.vscode/
/cache/
/node_modules/

## Lock
yarn.lock
symfony.lock
composer.lock
package-lock.json

## Vendor
/js/vendor
/css/vendor
/scss/vendor
/public/js/vendor
/public/css/vendor